<div class="container">
  <form autocomplete="off" #cadastroCategoriaForm="ngForm">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Categoria</h1>
      </div>

      <div class="ui-g-6 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" ngModel #nome="ngModel" required>
        <app-message [control]="nome" error="required" text="Informe o nome da categoria."></app-message>
      </div>


      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="cadastroCategoriaForm.invalid"></button>
        <button pButton type="button" label="Nova" class="ui-button-info"></button>
        <a href="javascripc:;">Voltar para a pesquisa</a>
      </div>


    </div>
  </form>
</div>

