<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pesquisa Categoria</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input type="text" pInputText>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <app-categorias-grid [categorias]="categorias"></app-categorias-grid>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <a pButton label="Nova Categoria"></a>
      </div>
    </div>
  </div>
</div>
